ipython
decorator==4.4.2
matplotlib==3.1.0
numpy==1.19.1
cycler==0.10.0
h5py==2.10.0
pandas==0.25.3
psutil==5.7.0
scipy==1.5.4
scikit-learn==0.24.2
joblib==0.14.1
json5==0.9.5
nltk==3.6.2
wandb==0.10.19
jupyterlab==2.1.2
notebook==6.0.3
tables==3.6.1
lm-scorer==0.4.2
openpyxl==3.0.9
statannot==0.2.3
seaborn==0.11.2
xlrd==2.0.1
